doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    link(rel="stylesheet", href="./index.css")
    link(rel="icon" type="image/x-icon" href="./images/favicon.ico")
    title I/O 2018
    meta(property="fb:app_id" content="261820754438468")
    meta(property="og:title" content="クリエイター交流イベント「I/O」大阪にて開催！")
    meta(property="og:description" content="もっと多くのクリエイターと、知識や想像力、コミュニティなどの新しい「なにか」を見つけて、その楽しさを共有したいという思いのもとに発足したイベント。クリエイターに新しいInputと新しいOutputを。今秋11月頃　大阪にて開催決定！")
    meta(property="og:site_name" content="I/O 2018")
    meta(property="og:type" content="website")
    meta(property="og:image" content="https://new-io.jp/images/ogp.png")
    meta(property="og:url" content="https://new-io.jp/")
    meta(property="og:locale" content="ja_JP")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@new_IO_")

  body
    header
      .container
        img(src="./images/io-logo.svg", alt="I/O Logo").toplogo
        .catch 新しい
          span.nanika
            img(src="./images/nanika1.svg").nanika1
            span なにか
            img(src="./images/nanika2.svg").nanika2
          span を見つけよう

        .description
          p クリエイター交流イベント
          p 11月10日　大阪にて開催決定！

        a(href="https://atnd.org/events/99849").entry 詳細はコチラ

    main
      section.video#video
        .container
          iframe(src="https://www.youtube.com/embed/du3z4wOiY3o?rel=0&amp;controls=0&amp;showinfo=0",
            frameborder="0",
            allow="autoplay; encrypted-media",
            allowfullscreen).video-link

      section.concept
        .container
          img(src="./images/nanika3.svg").nanika3
          img(src="./images/nanika4.svg").nanika4
          p このイベントで、
          p もっと多くのクリエイターと
          p 新しい知識や想像力、
          p コミュニティを見つける楽しさを<br>共有したい。
      section.target
        .container
          h3 そんな新しい「なにか」を<br>見つけてみませんか？
          .wrapper
            ul
              li デザイナー
              li エンジニア
              li 起業家
              li プログラマー
              li 映像作家
              li CGクリエイター
              li プランナー
              li イラストレーター
              li 作曲家

      section.place
        .container
          .section-name
            h2 PLACE
            p 開催場所
          p: a(href="https://blackbox.osaka/",target="_blank") 高麗橋 BLACK BOX
          p 大阪市中央区高麗橋3丁目1-8 <br>カルボ高麗橋ビル1F
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.598240504214!2d135.5009933152319!3d34.69008798043719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6e6c5855555%3A0x7ec7a9fc299d4d3a!2z5aSn6Ziq5reA5bGL5qmL44Gu44Os44Oz44K_44Or44K544Oa44O844K544O744Ku44Oj44Op44Oq44O844O76LK444GX5Lya6K2w5a6kIEJMQUNLQk9Y!5e0!3m2!1sja!2sjp!4v1536674756612" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          p 御堂筋線・京阪線　<br>淀屋橋駅 12番出口から東へ徒歩約5分

      section.sponsor-member
        .sponsor
          .container
            .section-name
              h2 SPONSOR
              p スポンサー
            p 現在このイベントにご協賛いただける<br>企業・団体様を募集しております。
            p 資料請求・ご質問・ご相談など<br>受け付けておりますので、
            p 以下メールアドレスにご連絡ください。
            button.mail#mail-copy io.event.official[at]gmail.com

        .member
          .container
            .section-name
              h2 MEMBER
              p 運営メンバー
            .member-list
              a(href="https://twitter.com/inurabu_m").member-list-item
                img(src="./images/icons/inurabu.jpg", alt="いぬらぶ")
                p いぬらぶ
              a(href="https://twitter.com/kome0455").member-list-item
                img(src="./images/icons/kome.png", alt="kome")
                p kome
              a(href="https://twitter.com/chige12_").member-list-item
                img(src="./images/icons/Chige.png", alt="ちげ")
                p ちげ
              a(href="https://twitter.com/_Quga").member-list-item
                img(src="./images/icons/QUGA.jpg", alt="QUGA")
                p QUGA
              a(href="https://twitter.com/ismsx").member-list-item
                img(src="./images/icons/ismsx.jpg", alt="いっしん")
                p いっしん

      section.sns
        .container
          .folow
            .txt 
              p.intxt Twitterをフォローして
              p.intxt 最新情報をチェック！
            a(href="https://twitter.com/new_IO_").sns-button
              img(src="./images/twitter.svg", alt="twitterをフォロー").sns-icon
              p Twitterをフォロー
          .shere
            p.txt SNSでどんどんシェア！
            .button-wrapper
              a(href="https://twitter.com/intent/tweet?text=クリエイター交流イベントI/O　大阪で開催決定！&url=https://new-io.jp &hashtags=IO_2018" rel="nofollow", onClick="window.open(encodeURI(decodeURI(this.href)),'twwindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1'); return false;").sns-button
                img(src="./images/twitter.svg", alt="つぶやく").sns-icon
                p つぶやく
              a(href="http://www.facebook.com/share.php?u=https://new-io.jp" onclick="window.open(this.href,'FBwindow','width=650,height=450,menubar=no,toolbar=no,scrollbars=yes');return false;" title="Facebookでシェア").sns-button
                img(src="./images/facebook.svg", alt="シェア").sns-icon
                p シェア
          .shere
            p.txt 今までにないイベントアイデア募集中！<br> 意見はどしどしお寄せ下さい！
            .button-wrapper.button-tag
              a(href="https://twitter.com/search?q=%23io_2018&src=typd").sns-button
                img(src="./images/twitter.svg", alt="つぶやく").sns-icon
                p ハッシュタグ：<span> #io_2018</span>

    footer
      .container
        img(src="./images/io-logo.svg", alt="I/O Logo").footer-logo
        .catch 新しい
          span.nanika
            img(src="./images/nanika1.svg").nanika1
            span なにか
            img(src="./images/nanika2.svg").nanika2
          span を見つけよう

        .txt
          p.intxt その他詳しい内容、参加登録などは
          p.intxt 以下リンクにて

        a(href="https://atnd.org/events/99849").entry 詳細はコチラ

    script(src="./scripts/index.js")